* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --quantity: 5;
    --rotateX: -14deg
}
html, body {
    height: 100%;
    overflow: hidden;
    background-color: rgb(49, 49, 49);
    background-image: url(/neonflames_2.png);
}
.container {
    height: 100%;
}
.slider {
    position: absolute;
    width: 150px;
    height: 225px;
    top: 15%;
    left: 50%;
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(-50%) rotateX(var(--rotateX));
    animation: spin 20s linear infinite;
    z-index: 2;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    font-size: 45px;
    font-weight: 600;
    color: white;
    position: absolute;
    inset: 0 0 0 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(450px);
    background-color: black;
    transform-style: preserve-3d;
}
.card-front, .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid;
}
.card-front {
    transform: rotateY(-180deg);
}
.text {
    text-align: center;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
}
.logo {
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 50%;
    transform: rotateY(0);
    background: transparent;
    animation: logo-spin 20s linear forwards infinite;
}
.logo .card-back {
    position: relative;
    border: 2px solid rgb(34, 170, 72);
    background: url(/neonflames.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 0% 0%;
    animation: color 20s linear infinite;
    z-index: 1;
}
.logo .innercard {
    width: 100%;
    height: 100%;
}
.antimatter {
    --position: 1;
    border-color: rgb(34, 170, 72);
    color: rgb(34, 170, 72);
}
.antimatter .card-front, .antimatter .card-back {
    background-color: rgb(34, 170, 72);
    background-image: url(/neonflames.png);
    background-size: cover;
    background-blend-mode: multiply;
}
.card-back img {
    width: 50%;
}
.infinity {
    border-color: rgb(182, 127, 51);
    color: rgb(182, 127, 51);
    --position: 2;
}
.infinity .card-front,.infinity .card-back {
    background-color: rgb(182, 127, 51);
    background-image: url(/neonflames.png);
    background-size: cover;
    background-blend-mode: multiply;
}
.replication {
    border-color: rgb(3, 169, 244);
    color: rgb(3, 169, 244);
    --position: 3;
}
.replication .card-front, .replication .card-back {
    background-image: url(/neonflames.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(3, 169, 244);
}
.eternity {
    border-color: rgb(178, 65, 227);
    color: rgb(178, 65, 227);
    --position: 4;
}
.eternity .card-front, .eternity .card-back {
    background-image: url(/neonflames.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(178, 65, 227);
}
.content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    transform: translateX(-50%) rotateX(var(--rotateX));
}
.heading {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 3px transparent;
    background: linear-gradient(to right, #17DCDB, #D8D20C);
    background-clip: text;
    -webkit-background-clip: text;
}
.heading::before {
    position: absolute;
    left: 0;
    content: "REALITY GLYPHS";
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 3px transparent;
    background: linear-gradient(to right, #17DCDB, #D8D20C);
    background-clip: text;
    -webkit-background-clip: text;
    filter: blur(3px);
}
.dilation {
    border-color: rgb(100, 221, 23);
    color: rgb(100, 221, 23);
    --position: 5;
}
.dilation .card-front, .dilation .card-back {
    background-image: url(/neonflames.png);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(100, 221, 23);
}
@keyframes spin {
    0% {
        transform: perspective(1000px) translateX(-50%) rotateX(var(--rotateX)) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) translateX(-50%) rotateX(var(--rotateX)) rotateY(360deg);
    }
}
@media only screen and (max-width: 1024px) {
    .slider {
        top: 50%;
    }
    .card {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(350px) scale(0.75);
    }
    .logo .innercard {
        width: 100%;
        height: 100%;
        scale: 0.75;
    }
    .content {
        bottom: 30%;
    }
    .heading {
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 13px;
    }
    .heading::before {
        position: absolute;
        left: 0;
        content: "REALITY GLYPHS";
        font-size: 70px;
        font-weight: bold;
        letter-spacing: 13px;
        filter: blur(2px);
    }
}
@media only screen and (max-width: 660px) {
    .slider {
        top: 10%;
    }
    .card {
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(35vw) scale(0.5);
    }
    .logo .innercard {
        width: 100%;
        height: 100%;
        scale: 0.5;
    }
    .content {
        bottom: 30%;
    }
    .heading {
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 13px;
    }
    .heading::before {
        position: absolute;
        left: 0;
        content: "REALITY GLYPHS";
        font-size: 40px;
        -webkit-text-stroke: 1px transparent;
        font-weight: 500;
        letter-spacing: 13px;
        filter: blur(3px);
    }
}
@keyframes rainbow-gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}
@keyframes color {
    0% {border-color: rgba(34, 170, 72); background-color: rgba(34, 170, 72); color: rgba(34, 170, 72)}
    20% {border-color: rgb(100, 221, 23); background-color: rgb(100, 221, 23); color: rgb(100, 221, 23);} 
    40% {border-color: rgb(178, 65, 227); background-color: rgb(178, 65, 227); color: rgb(178, 65, 227);}
    60% {border-color: rgb(3, 169, 244); background-color: rgb(3, 169, 244); color: rgb(3, 169, 244);}
    80% {border-color: rgb(182, 127, 51); background-color: rgb(182, 127, 51); color: rgb(182, 127, 51)}
    100% {border-color: rgb(34, 170, 72); background-color: rgba(34, 170, 72); color:  rgba(34, 170, 72)}
}
@keyframes logo-spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-360deg);
    }
}